body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    margin-top: 0%;
}

#main {
    text-align: center;
    top: 3cm;
    font-weight: bold;
    font-size: 1.5cm;
    color: black;
    font-style: italic;
    height: 300px;
    width: 900px;
    position: relative;
    background-color:lightpink;
    padding: 0 auto;
    margin: 0 auto;
    z-index: 4;
    box-shadow: 8px 10px #888888;
    display: ;

}

    

#header {
    z-index: 6;
    background-color: black;
    height: 3cm;
    border-bottom: 0;
    padding-bottom: 0;
    color: white;
    text-align: center;
    font-size: 2cm;
    font-weight: bold;
    
}
#container {
    background-color: turquoise;
    height: 100vh;
    top: 0px;
    border-top: 50px solid black;
    opacity: 0.9;
    border-bottom: 20px solid black;
    
}